:root {
  --theme-dark: #343a40;
  --border-dark: #676a6c;
  --text-light1: #fafafa;
  --text-light2: #eee;
  --text-accent: #4dc7c3;
  --text-grey: #aaa;
  --text-grey-darker: #444;
  --accent: #269490;
  --highlight-dark: #455a64;
  --deep-purple: #673ab7;
  --footer-dark: #242a30;
  --footer-text-dark: #fff8;
}

body {
  background-color: #fbfcfd;
}

a {
  color: var(--accent);
}

a:hover,
a:active {
  text-decoration: none;
  color: var(--deep-purple);
  outline: none;
}

.container-fluid {
  padding: 0;
}

.min-75 {
  min-height: 75vh;
}

.page-title {
  height: 6rem;
  width: 100%;
  background-color: var(--footer-dark);
  color: var(--text-accent);
}

.page-title h1 {
  font-size: 2.8rem;
  line-height: 2.9rem;
  margin: 0;
}
