:root {
    --theme-dark: #343A40;
    --border-dark: #676A6C;
    --text-light1: #FAFAFA;
    --text-light2: #EEEEEE;
    --text-accent: #4DC7C3;
    --text-grey: #AAAAAA;
    --text-grey-darker: #444444;
    --accent: #269490;
    --highlight-dark: #455A64;
    --deep-purple: #673AB7;
    --footer-dark: #242A30;
    --footer-text-dark: #FFFFFF88;
}
body {
    background-color: #FBFCFD;
}
a {
    color: var(--accent);
}
a:hover, a:active {
    text-decoration: none;
}

.container-fluid {
    padding: 0;
}